body{
	font:0.8em Calibri;
}

.chat .messages{
width: 250px;
height: 210px;
border: 1px solid #ccc;
padding: 10px;
overflow-y:scroll;
}

.chat .message a{
	color: slategray;
}
.chat .message p{
	margin: 5px 0;
}
.chat .entry{
	width: 260px;
	height: 40px;
	padding: 5px;
	margin-top: 5px;
}